.spritesheet {
  background-image: url(../img/spritesheet.png);
  width: 66px;
  height: 66px;
}

.sprite-blinky-up {
  background-position: left 0px top -66px;
}

@keyframes sprite-blinky-up-frames {

  from {
    background-position: left 0px top -66px;
  }
  
  to {
    background-position: left -132px top -66px;
  }

}

.sprite-blinky-up-anim {
  animation-name: sprite-blinky-up-frames;
  animation-duration: 0.2s;
  animation-timing-function: steps(2);
  animation-iteration-count: infinite;
  animation-direction: normal;
}

.sprite-blinky-left {
  background-position: left -132px top -66px;
}

@keyframes sprite-blinky-left-frames {

  from {
    background-position: left -132px top -66px;
  }
  
  to {
    background-position: left -264px top -66px;
  }

}

.sprite-blinky-left-anim {
  animation-name: sprite-blinky-left-frames;
  animation-duration: 0.2s;
  animation-timing-function: steps(2);
  animation-iteration-count: infinite;
  animation-direction: normal;
}

.sprite-blinky-down {
  background-position: left -264px top -66px;
}

@keyframes sprite-blinky-down-frames {

  from {
    background-position: left -264px top -66px;
  }
  
  to {
    background-position: left -396px top -66px;
  }

}

.sprite-blinky-down-anim {
  animation-name: sprite-blinky-down-frames;
  animation-duration: 0.2s;
  animation-timing-function: steps(2);
  animation-iteration-count: infinite;
  animation-direction: normal;
}

.sprite-blinky-right {
  background-position: left -396px top -66px;
}

@keyframes sprite-blinky-right-frames {

  from {
    background-position: left -396px top -66px;
  }
  
  to {
    background-position: left -528px top -66px;
  }

}

.sprite-blinky-right-anim {
  animation-name: sprite-blinky-right-frames;
  animation-duration: 0.2s;
  animation-timing-function: steps(2);
  animation-iteration-count: infinite;
  animation-direction: normal;
}

.sprite-pinky-up {
  background-position: left -66px top -132px;
}

@keyframes sprite-pinky-up-frames {

  from {
    background-position: left 0px top -132px;
  }
  
  to {
    background-position: left -132px top -132px;
  }

}

.sprite-pinky-up-anim {
  animation-name: sprite-pinky-up-frames;
  animation-duration: 0.2s;
  animation-timing-function: steps(2);
  animation-iteration-count: infinite;
  animation-direction: normal;
}

.sprite-pinky-left {
  background-position: left -198px top -132px;
}

@keyframes sprite-pinky-left-frames {

  from {
    background-position: left -132px top -132px;
  }
  
  to {
    background-position: left -264px top -132px;
  }

}

.sprite-pinky-left-anim {
  animation-name: sprite-pinky-left-frames;
  animation-duration: 0.2s;
  animation-timing-function: steps(2);
  animation-iteration-count: infinite;
  animation-direction: normal;
}

.sprite-pinky-down {
  background-position: left -330px top -132px;
}

@keyframes sprite-pinky-down-frames {

  from {
    background-position: left -264px top -132px;
  }
  
  to {
    background-position: left -396px top -132px;
  }

}

.sprite-pinky-down-anim {
  animation-name: sprite-pinky-down-frames;
  animation-duration: 0.2s;
  animation-timing-function: steps(2);
  animation-iteration-count: infinite;
  animation-direction: normal;
}

.sprite-pinky-right {
  background-position: left -462px top -132px;
}

@keyframes sprite-pinky-right-frames {

  from {
    background-position: left -396px top -132px;
  }
  
  to {
    background-position: left -528px top -132px;
  }

}

.sprite-pinky-right-anim {
  animation-name: sprite-pinky-right-frames;
  animation-duration: 0.2s;
  animation-timing-function: steps(2);
  animation-iteration-count: infinite;
  animation-direction: normal;
}

.sprite-inky-up {
  background-position: left -66px top -198px;
}

@keyframes sprite-inky-up-frames {

  from {
    background-position: left 0px top -198px;
  }
  
  to {
    background-position: left -132px top -198px;
  }

}

.sprite-inky-up-anim {
  animation-name: sprite-inky-up-frames;
  animation-duration: 0.2s;
  animation-timing-function: steps(2);
  animation-iteration-count: infinite;
  animation-direction: normal;
}

.sprite-inky-left {
  background-position: left -198px top -198px;
}

@keyframes sprite-inky-left-frames {

  from {
    background-position: left -132px top -198px;
  }
  
  to {
    background-position: left -264px top -198px;
  }

}

.sprite-inky-left-anim {
  animation-name: sprite-inky-left-frames;
  animation-duration: 0.2s;
  animation-timing-function: steps(2);
  animation-iteration-count: infinite;
  animation-direction: normal;
}

.sprite-inky-down {
  background-position: left -330px top -198px;
}

@keyframes sprite-inky-down-frames {

  from {
    background-position: left -264px top -198px;
  }
  
  to {
    background-position: left -396px top -198px;
  }

}

.sprite-inky-down-anim {
  animation-name: sprite-inky-down-frames;
  animation-duration: 0.2s;
  animation-timing-function: steps(2);
  animation-iteration-count: infinite;
  animation-direction: normal;
}

.sprite-inky-right {
  background-position: left -462px top -198px;
}

@keyframes sprite-inky-right-frames {

  from {
    background-position: left -396px top -198px;
  }
  
  to {
    background-position: left -528px top -198px;
  }

}

.sprite-inky-right-anim {
  animation-name: sprite-inky-right-frames;
  animation-duration: 0.2s;
  animation-timing-function: steps(2);
  animation-iteration-count: infinite;
  animation-direction: normal;
}

.sprite-clyde-up {
  background-position: left 0px top -264px;
}

@keyframes sprite-clyde-up-frames {

  from {
    background-position: left 0px top -264px;
  }
  
  to {
    background-position: left -132px top -264px;
  }

}

.sprite-clyde-up-anim {
  animation-name: sprite-clyde-up-frames;
  animation-duration: 0.2s;
  animation-timing-function: steps(2);
  animation-iteration-count: infinite;
  animation-direction: normal;
}

.sprite-clyde-left {
  background-position: left -132px top -264px;
}

@keyframes sprite-clyde-left-frames {

  from {
    background-position: left -132px top -264px;
  }
  
  to {
    background-position: left -264px top -264px;
  }

}

.sprite-clyde-left-anim {
  animation-name: sprite-clyde-left-frames;
  animation-duration: 0.2s;
  animation-timing-function: steps(2);
  animation-iteration-count: infinite;
  animation-direction: normal;
}

.sprite-clyde-down {
  background-position: left -264px top -264px;
}

@keyframes sprite-clyde-down-frames {

  from {
    background-position: left -264px top -264px;
  }
  
  to {
    background-position: left -396px top -264px;
  }

}

.sprite-clyde-down-anim {
  animation-name: sprite-clyde-down-frames;
  animation-duration: 0.2s;
  animation-timing-function: steps(2);
  animation-iteration-count: infinite;
  animation-direction: normal;
}

.sprite-clyde-right {
  background-position: left -396px top -264px;
}

@keyframes sprite-clyde-right-frames {

  from {
    background-position: left -396px top -264px;
  }
  
  to {
    background-position: left -528px top -264px;
  }

}

.sprite-clyde-right-anim {
  animation-name: sprite-clyde-right-frames;
  animation-duration: 0.2s;
  animation-timing-function: steps(2);
  animation-iteration-count: infinite;
  animation-direction: normal;
}

.sprite-pacman-up {
  background-position: left -66px top -396px;
}

@keyframes sprite-pacman-up-frames {

  from {
    background-position: left 0px top -396px;
  }
  
  to {
    background-position: left -198px top -396px;
  }

}

.sprite-pacman-up-anim {
  animation-name: sprite-pacman-up-frames;
  animation-duration: 0.1s;
  animation-timing-function: steps(3);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.sprite-pacman-left {
  background-position: left -264px top -396px;
}

@keyframes sprite-pacman-left-frames {

  from {
    background-position: left -198px top -396px;
  }
  
  to {
    background-position: left -396px top -396px;
  }

}

.sprite-pacman-left-anim {
  animation-name: sprite-pacman-left-frames;
  animation-duration: 0.1s;
  animation-timing-function: steps(3);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.sprite-pacman-down {
  background-position: left -462px top -396px;
}

@keyframes sprite-pacman-down-frames {

  from {
    background-position: left -396px top -396px;
  }
  
  to {
    background-position: left -594px top -396px;
  }

}

.sprite-pacman-down-anim {
  animation-name: sprite-pacman-down-frames;
  animation-duration: 0.1s;
  animation-timing-function: steps(3);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.sprite-pacman-right {
  background-position: left -660px top -396px;
}

@keyframes sprite-pacman-right-frames {

  from {
    background-position: left -594px top -396px;
  }
  
  to {
    background-position: left -792px top -396px;
  }

}

.sprite-pacman-right-anim {
  animation-name: sprite-pacman-right-frames;
  animation-duration: 0.1s;
  animation-timing-function: steps(3);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.sprite-mspacman-up {
  background-position: left -66px top -462px;
}

@keyframes sprite-mspacman-up-frames {

  from {
    background-position: left 0px top -462px;
  }
  
  to {
    background-position: left -198px top -462px;
  }

}

.sprite-mspacman-up-anim {
  animation-name: sprite-mspacman-up-frames;
  animation-duration: 0.1s;
  animation-timing-function: steps(3);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.sprite-mspacman-left {
  background-position: left -264px top -462px;
}

@keyframes sprite-mspacman-left-frames {

  from {
    background-position: left -198px top -462px;
  }
  
  to {
    background-position: left -396px top -462px;
  }

}

.sprite-mspacman-left-anim {
  animation-name: sprite-mspacman-left-frames;
  animation-duration: 0.1s;
  animation-timing-function: steps(3);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.sprite-mspacman-down {
  background-position: left -462px top -462px;
}

@keyframes sprite-mspacman-down-frames {

  from {
    background-position: left -396px top -462px;
  }
  
  to {
    background-position: left -594px top -462px;
  }

}

.sprite-mspacman-down-anim {
  animation-name: sprite-mspacman-down-frames;
  animation-duration: 0.1s;
  animation-timing-function: steps(3);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.sprite-mspacman-right {
  background-position: left -660px top -462px;
}

@keyframes sprite-mspacman-right-frames {

  from {
    background-position: left -594px top -462px;
  }
  
  to {
    background-position: left -792px top -462px;
  }

}

.sprite-mspacman-right-anim {
  animation-name: sprite-mspacman-right-frames;
  animation-duration: 0.1s;
  animation-timing-function: steps(3);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.sprite-cookieman-up {
  background-position: left -66px top -528px;
}

@keyframes sprite-cookieman-up-frames {

  from {
    background-position: left 0px top -528px;
  }
  
  to {
    background-position: left -198px top -528px;
  }

}

.sprite-cookieman-up-anim {
  animation-name: sprite-cookieman-up-frames;
  animation-duration: 0.1s;
  animation-timing-function: steps(3);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.sprite-cookieman-left {
  background-position: left -264px top -528px;
}

@keyframes sprite-cookieman-left-frames {

  from {
    background-position: left -198px top -528px;
  }
  
  to {
    background-position: left -396px top -528px;
  }

}

.sprite-cookieman-left-anim {
  animation-name: sprite-cookieman-left-frames;
  animation-duration: 0.1s;
  animation-timing-function: steps(3);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.sprite-cookieman-down {
  background-position: left -462px top -528px;
}

@keyframes sprite-cookieman-down-frames {

  from {
    background-position: left -396px top -528px;
  }
  
  to {
    background-position: left -594px top -528px;
  }

}

.sprite-cookieman-down-anim {
  animation-name: sprite-cookieman-down-frames;
  animation-duration: 0.1s;
  animation-timing-function: steps(3);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.sprite-cookieman-right {
  background-position: left -660px top -528px;
}

@keyframes sprite-cookieman-right-frames {

  from {
    background-position: left -594px top -528px;
  }
  
  to {
    background-position: left -792px top -528px;
  }

}

.sprite-cookieman-right-anim {
  animation-name: sprite-cookieman-right-frames;
  animation-duration: 0.1s;
  animation-timing-function: steps(3);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.sprite-scared-ghost-default {
  background-position: left -264px top -330px;
}

@keyframes sprite-scared-ghost-default-frames {

  from {
    background-position: left -264px top -330px;
  }
  
  to {
    background-position: left -396px top -330px;
  }

}

.sprite-scared-ghost-default-anim {
  animation-name: sprite-scared-ghost-default-frames;
  animation-duration: 0.2s;
  animation-timing-function: steps(2);
  animation-iteration-count: infinite;
  animation-direction: normal;
}

.sprite-cherry {
  background-position: left 0px top 0px;
}

.sprite-strawberry {
  background-position: left -66px top 0px;
}

.sprite-orange {
  background-position: left -132px top 0px;
}

.sprite-apple {
  background-position: left -198px top 0px;
}

.sprite-melon {
  background-position: left -264px top 0px;
}

.sprite-pretzel {
  background-position: left -528px top 0px;
}

.sprite-pear {
  background-position: left -594px top 0px;
}

.sprite-banana {
  background-position: left -660px top 0px;
}