
body {
  font-family: "Lato";
  background: #0a0a0a;
}

// http://stackoverflow.com/a/25235486/142317
@mixin clear-fix($where) {
  &:#{$where} {
    clear: both;
    content: '';
    display: block;
  }
} 

* {
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
}

$cols: 21;
$cell-size: 45px;
$cell-pad: 3px;

$cell-grow: 15px;

.board {
  margin: 40px auto;
  width: $cols * ($cell-size + $cell-pad);

  .row {
    @include clear-fix('after');

    .cell {
      margin-right: $cell-pad;
      margin-bottom: $cell-pad;
      width: $cell-size;
      height: $cell-size;
      float: left;
      position: relative;

      .sprite {
        position: absolute;
        left: -$cell-grow;
        top: -$cell-grow;
        width: $cell-size + 2 * $cell-grow;
        height: $cell-size + 2 * $cell-grow;
      }
    }

    .wall {
      background: #151A32;
    }

    .floor {
      background: #222;
    }

    .selected-cell {
      outline: 2px solid #AAA;
    }

    .selected-pacman {
      outline-color: #FFFF00;
    }
    .selected-blinky {
      outline-color: #FF0000;
    }
    .selected-pinky {
      outline-color: #FFB8FF;
    }
    .selected-inky {
      outline-color: #00FFFF;
    }
    .selected-clyde {
      outline-color: #FFB851;
    }
    .selected-fruit {
      outline-color: #00FF00;
    }
  }
}


.home {
  width: 800px;
  margin: 0 auto;
  text-align: center;

  h1 {
    margin: 120px 0;
    font-size: 120px;
    color: #F00;

    .ghost {
      height: 80px;
    }
  }

  .bump {
    margin-top: 117px;
    margin-bottom: 123px;
  }

  .color-blinky { color: #FF0000; }
  .color-pinky { color: #FFB8FF; }
  .color-inky { color: #00FFFF; }
  .color-clyde { color: #FFB851; }
  .color-pacman { color: #FFFF00; }

  p {
    color: #555;
    font-weight: 300;
    font-size: 30px;
  }

  em {
    color: #AAA;
    font-style: normal;
  }
}
