
$bg: #222;
body {
  font-family: "Lato";
  background: $bg;
}

// http://stackoverflow.com/a/25235486/142317
@mixin clear-fix($where) {
  &:#{$where} {
    clear: both;
    content: '';
    display: block;
  }
}

* {
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
}

$cols: 21;
$cell-size: 42px;
$cell-pad: 3px;

$red: #FF0000;
$pink: #FFB8FF;
$cyan: #00FFFF;
$orange: #FFB851;
$yellow: #FFFF00;
$green: #4BEE4B;

$floor: #343434;
$defeat-floor:#4D252C;
$victory-floor:#254D3A;

@keyframes blink-defeat {
  from {
    background: $floor;
  }
  to {
    background: $defeat-floor;
  }
}

@keyframes blink-victory {
  from {
    background: $floor;
  }
  to {
    background: $victory-floor;
  }
}

.board.no-transitions {
  .spritesheet {
    transition: transform 0s;
  }
}

.board {
  position: relative;
  margin: 0px auto;

  .spritesheet {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.1s;
  }

  .row {
    @include clear-fix('after');

    .cell {
      float: left;
      position: relative;

    }

    .wall {
      background: $bg;
    }

    .floor {
      background: #343434;

      &.defeat {
        animation: blink-defeat 0.2s steps(2, start) infinite;
      }

      &.victory {
        animation: blink-victory 0.2s steps(2, start) infinite;
      }
    }

    .selected-cell {
      outline: 2px solid #AAA;
    }

    .selected-pacman {
      outline-color: $yellow;
    }
    .selected-blinky {
      outline-color: $red;
    }
    .selected-pinky {
      outline-color: $pink;
    }
    .selected-inky {
      outline-color: $cyan;
    }
    .selected-clyde {
      outline-color: $orange;
    }
    .selected-fruit {
      outline-color: $green;
    }
  }

  .viz-layer {
    overflow: visible;
    position: absolute;
    left: 0;
    top: 0;

    transition: opacity 0.5s;

    .target {
    }

    .target-pacman {
      fill: $yellow;
    }

    .target-blinky {
      fill: $red;
    }

    .target-pinky {
      fill: $pink;
    }

    .target-inky {
      fill: $cyan;
    }

    .target-clyde {
      fill: $orange;
    }

    .path {
      fill: none;
      stroke-width: 0.05;
      stroke-linecap: round;
      stroke-linejoin: round;
    }

    $path-alpha: 0.5;

    .path-pacman {
      stroke: rgba($yellow, $path-alpha);
    }

    .path-blinky {
      stroke: rgba($red, $path-alpha);
    }

    .path-pinky {
      stroke: rgba($pink, $path-alpha);
    }

    .path-inky {
      stroke: rgba($cyan, $path-alpha);
    }

    .path-clyde {
      stroke: rgba($orange, $path-alpha);
    }

    .guide-line {
      stroke: rgba(255,255,255,0.4);
      stroke-width: 0.05;
    }

    .hinge {
      fill: rgba(255,255,255,0.8);
    }

    .clyde-boundary {
      fill: none;
      stroke: rgba(255,255,255,0.3);
      stroke-width: 0.05;

      &.inside {
        stroke: rgba(255,255,255,0.1);
      }
    }
  }
}

$level-light: #B4C8CE;
$level-dark: #4E5759;

.level-select {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  color: #aaa;

  .title {
    margin:80px;
    letter-spacing: 0.04em;
    font-size: 40px;
  }

  ol {
    text-align: left;
    width: 400px;
    margin: 0 auto;
    li {
      font-size: 24px;
      font-weight: 300;
      color: $level-dark;
      cursor: pointer;
      &:hover {
        color: $level-light;
      }
      .ghosts {
        height: 30px;
        float: right;
        opacity: 0.3;
        .spritesheet {
          margin: -20px -20px;
          float:right;
          transform: scale(0.5);
        }
      }
      @include clear-fix('after');
    }

    li:hover .ghosts {
      opacity: 1;
    }
  }
}

$title-bump: 5px;

.splash {
  margin-top: 240px;
  text-align: center;
  h1 {
    text-align: center;
    letter-spacing: 0.05em;
    font-size: 90px;
    color: #F00;

    .ghost {
      display: inline-block;
      transform: scale(1.2);
    }
    text-shadow: 0 $title-bump 0 #111;
    @include clear-fix('after');

  }

  .bump {
    transform: translate(0, -$title-bump);
  }

  opacity: 0;
  transition: opacity 0.5s;
  &.fadein {
    opacity: 1;
  }

}

.home {
  width: 1000px;
  margin: 100px auto;
  text-align: center;
  color: #aaa;

  opacity: 0;
  transition: opacity 0.5s;
  &.fadein {
    opacity: 1;
  }

  .board {
    transform: scale(0.8);
  }

  a {
    &:link,&:hover, &:visited, &:active {
      color: #555;
      text-decoration: none;
    }
  }

  .author {
    color: #444;
    margin:0;
    margin-bottom: 4px;
  }

  .details {
    color: #444;
    margin-bottom: 80px;
    position: relative;
  }

    .mini-pacman {
      opacity: 0.2;
      position: absolute;
      transform: scale(0.4);
      top: -23px;
      right: 294px;
    }

  .instruct {
    margin-top: 80px;
    margin-bottom: 80px;
    color: #555;
    font-weight: 300;
    font-size: 30px;
  }

  $menu-light: #B4C8CE;
  $menu-dark: #4E5759;

  .menu {
    margin-bottom: 40px;
  }
  .menu-button {
    cursor: pointer;

    letter-spacing: 0.04em;
    font-size: 24px;
    font-weight: 300;
    text-align: center;

    width: 300px;
    margin: 0px auto;

    color: $menu-dark;

    &.main {
      margin: 30px auto;
      font-size: 40px;
      font-weight: 700;
    }

    border: 1px solid $bg;
    &:hover {
      color: $menu-light;
    }

  }

  em {
    color: #AAA;
    font-style: normal;
  }
}

.game {
  .title {
    margin: 80px auto 40px;
    text-align: center;
    color: #FAFEDE;
    opacity: 0.4;
    font-size: 42px;
    font-weight: 300;
  }

  .desc {
    height: 200px;
    line-height: 1.5em;
    font-weight: 300;
    font-size: 28px;
    margin: 20px auto;
    color: #5D5E5B;
    text-align: center;
    .focus {
      letter-spacing: 0.03em;
      color: #FAFEDE;
    }
  }


  $settings-light: #B4C8CE;
  $settings-dark: #4E5759;

  .settings {
    position: fixed;
    right: 0;
    top: 0;
    width: 200px;
    height: 400px;

    margin-top: 140px;
    padding: 0;

    transition: transform 1s, opacity 0.5s;
    z-index: 200;

    .settings-title {
      letter-spacing: 0.04em;
      width: 80px;
      margin: 20px auto;
      text-align: center;
      color: $settings-dark;
      font-size: 22px;
      font-weight: 300;

      padding-bottom: 10px;
      border-bottom: 1px solid $settings-dark;

    }

    .settings-button {
      cursor: pointer;

      letter-spacing: 0.04em;
      font-size: 16px;
      font-weight: 300;
      text-align: center;

      width: 100px;
      padding: 10px;
      margin: 30px auto;

      color: $settings-dark;

      text-transform: uppercase;

      &.enabled {
        color: $settings-light;
        border: 1px solid $settings-light;
      }

      border: 1px solid $settings-dark;
      &:hover {
        border: 1px solid $settings-light;
      }

    }

    opacity: 0.4;
    &:hover {
      opacity: 0.95;
    }

  }

}

a {
  &:link,&:hover, &:visited, &:active {
    color: #EEE;
    text-decoration: none;
  }
}

.pacman {
  color: $yellow !important;
}
.blinky {
  color: $red !important;
}
.pinky {
  color: $pink !important;
}
.inky {
  color: $cyan !important;
}
.clyde {
  color: $orange !important;
}
.green {
  color: $green !important;
}

kbd {
  font-family: "Lato";
  padding: 2px 10px;
  margin: 0 3px;
  background: #0d0d0d;
  border-radius: 3px;
}
